<div class="slimScrollDiv" data-bind="foreach: items" id="queue_sidebar">
  <div class="entry">
    <div class="arrow" data-bind="visible: $root.cursor() == i"><i class="icon-chevron-right"></i></div>
    <div class="title" data-bind="text: name"></div>
    <div class="btn-group action-buttons">
      <div class="btn btn-mini" data-bind="click: $root.rmItem"><i class="icon-trash"></i></div>
    </div>
  </div>
</div>

<script type="text/html" id="add_to_queue_btn_tmpl">
  <div class="btn btn-mini btn-add-to-queue">
    <i class="icon-plus"></i>
  </div>
</script>
